@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  } 

  .withBgImage {
    background-image: url('/mountain-1.png');
    background-size: cover;
    background-position: center;
  }
}

@layer utilities {
  .underline-position-under {
    text-underline-position: under;
  }

  ._flex-row {
    display: flex;
    flex-flow: row wrap;
  }

  ._flex-center {
    justify-content: center;
    align-items: center;
  }

  ._flex-row-gap {
    row-gap: 7rem;
  }

  ._flex-col-gap {
    -moz-column-gap: 5%;
         column-gap: 5%;
  }

  ._blog-post-basis {
    flex-basis: 100%;
  }
  
  .flex-projects {
    flex-basis: 33%;
  }

  @screen xl {
    ._blog-post-basis {
      flex-basis: 47.5%;
    }
  }
}

:root {
  --font-color: #000;
  --background-color: #ECEFF4;
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

@layer components {
  .glass {
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  }
}




