@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  } 

  .withBgImage {
    background-image: url('/mountain-1.png');
    background-size: cover;
    background-position: center;
  }
}

@layer utilities {
  .underline-position-under {
    text-underline-position: under;
  }

  .flex-box-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    row-gap: 4rem;
  }

  .flex-posts {
    flex-basis: 42.5%;
  }
  
  .flex-projects {
    flex-basis: 33%;
  }

  .flex-posts:first-child {
    flex-basis: 100%;
  }
}

:root {
  --font-color: #000;
  --background-color: #ECEFF4;
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

@layer components {
  .glass {
    backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  }
}




